#sharp{
    border-radius: 0px;
    width:100%;
    margin-bottom: 10px;
}


.section{
    background-color: white;
}

#recentImages{
    display:flex; 
    flex-wrap:wrap;
}

#footer{
    margin: 10px 0 0 0;
    border-radius: 0px;
}
#footText{
    color:#848484;
    font-weight: normal;
}

#navbarText{
    color: #f6f6f6;
}

#viewAll{
    border-radius:0px;

}

body{
    background-color: #f6f6f6;
}

ul{
    margin: 1.2em 0 1.7em;
    padding: 0;
    font-size: 16px;
    list-style-type: none;
    display: inline-block;
}
#techitem{
    margin: 0 3px 7px 0;
    padding: 7px 16px 4px;
    border: 1px solid #bbb;
    display: inline-block;

}